interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2023-10-01", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "fxSpeed": "Regular", "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/data/fundamentals/CVNA/statements?startDate=2022-01-01
    response:
      body:
        string:
          '[{"date": "2025-03-31", "quarter": 1, "year": 2025, "statementData":
          {"balanceSheet": [{"dataCode": "equity", "value": 1504000000.0}, {"dataCode":
          "investmentsCurrent", "value": 1212000000.0}, {"dataCode": "taxLiabilities",
          "value": 0.0}, {"dataCode": "acctPay", "value": 836000000.0}, {"dataCode":
          "accoci", "value": 0.0}, {"dataCode": "liabilitiesCurrent", "value": 1347000000.0},
          {"dataCode": "inventory", "value": 1503000000.0}, {"dataCode": "sharesBasic",
          "value": 213166351.0}, {"dataCode": "liabilitiesNonCurrent", "value": 5758000000.0},
          {"dataCode": "deposits", "value": 0.0}, {"dataCode": "retainedEarnings", "value":
          -1200000000.0}, {"dataCode": "debtCurrent", "value": 372000000.0}, {"dataCode":
          "cashAndEq", "value": 1904000000.0}, {"dataCode": "ppeq", "value": 3173000000.0},
          {"dataCode": "investmentsNonCurrent", "value": 0.0}, {"dataCode": "investments",
          "value": 1212000000.0}, {"dataCode": "debtNonCurrent", "value": 5671000000.0},
          {"dataCode": "totalAssets", "value": 8878000000.0}, {"dataCode": "deferredRev",
          "value": 0.0}, {"dataCode": "intangibles", "value": 37000000.0}, {"dataCode":
          "taxAssets", "value": 0.0}, {"dataCode": "assetsNonCurrent", "value": 3741000000.0},
          {"dataCode": "totalLiabilities", "value": 7105000000.0}, {"dataCode": "assetsCurrent",
          "value": 5137000000.0}, {"dataCode": "debt", "value": 6043000000.0}, {"dataCode":
          "acctRec", "value": 369000000.0}], "incomeStatement": [{"dataCode": "costRev",
          "value": 3303000000.0}, {"dataCode": "opex", "value": 535000000.0}, {"dataCode":
          "shareswa", "value": 134058000.0}, {"dataCode": "netinc", "value": 216000000.0},
          {"dataCode": "intexp", "value": 139000000.0}, {"dataCode": "prefDVDs", "value":
          0.0}, {"dataCode": "shareswaDil", "value": 142587000.0}, {"dataCode": "netIncComStock",
          "value": 216000000.0}, {"dataCode": "eps", "value": 1.61}, {"dataCode": "epsDil",
          "value": 1.51}, {"dataCode": "ebit", "value": 357000000.0}, {"dataCode": "ebt",
          "value": 218000000.0}, {"dataCode": "grossProfit", "value": 929000000.0},
          {"dataCode": "ebitda", "value": 430000000.0}, {"dataCode": "taxExp", "value":
          2000000.0}, {"dataCode": "nonControllingInterests", "value": 157000000.0},
          {"dataCode": "rnd", "value": 0.0}, {"dataCode": "consolidatedIncome", "value":
          373000000.0}, {"dataCode": "revenue", "value": 4232000000.0}, {"dataCode":
          "opinc", "value": 394000000.0}, {"dataCode": "sga", "value": 535000000.0},
          {"dataCode": "netIncDiscOps", "value": 0.0}], "cashFlow": [{"dataCode": "ncff",
          "value": -53000000.0}, {"dataCode": "ncf", "value": 144000000.0}, {"dataCode":
          "investmentsAcqDisposals", "value": 15000000.0}, {"dataCode": "payDiv", "value":
          0.0}, {"dataCode": "businessAcqDisposals", "value": -24000000.0}, {"dataCode":
          "depamor", "value": 73000000.0}, {"dataCode": "sbcomp", "value": 23000000.0},
          {"dataCode": "ncfo", "value": 232000000.0}, {"dataCode": "ncfx", "value":
          0.0}, {"dataCode": "freeCashFlow", "value": 206000000.0}, {"dataCode": "issrepayEquity",
          "value": 5000000.0}, {"dataCode": "ncfi", "value": -35000000.0}, {"dataCode":
          "issrepayDebt", "value": -35000000.0}, {"dataCode": "capex", "value": -26000000.0}],
          "overview": [{"dataCode": "revenueQoQ", "value": 0.382554720679517}, {"dataCode":
          "grossMargin", "value": 0.219517958412098}, {"dataCode": "debtEquity", "value":
          4.01795212765957}, {"dataCode": "profitMargin", "value": 0.219517958412098},
          {"dataCode": "shareFactor", "value": 1.0}, {"dataCode": "bookVal", "value":
          1773000000.0}, {"dataCode": "rps", "value": 19.8530395634534}, {"dataCode":
          "roa", "value": 0.0499059561128527}, {"dataCode": "piotroskiFScore", "[...]
