interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/user
  response:
    body:
      string: '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
        true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
        "username": "rita19", "emailAddress": "torresbenjamin@gmail.com", "dw_AccountId":
        "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber": "w4-1267174s",
        "macAccountNumber": "H1-7641957H", "status": null, "macStatus": "BASIC_USER",
        "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
        null, "firstName": "Tammy", "lastName": "Alexander", "phoneNumber": "9011530005",
        "signUpPhase": 0, "ackSignedWhen": "2021-05-18", "createdDate": 1574303699770,
        "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
        null, "referralCode": "L7-2127933N", "referredByCode": null, "regionIdentifier":
        "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
        null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
        null, "userProfile": {"residentialAddress": null, "postalAddress": null},
        "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
        "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
        "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
        null, "documentsStatus": "NO_ACTION", "mfaenabled": false}'
    headers:
      Content-Type:
      - application/json
      stake_tid:
      - 71e7493d-97be-4391-9360-582e46c1be73
      x-amz-apigw-id:
      - MN-OmHZZSwMFTcg=
      x-amzn-Remapped-Content-Length:
      - '1187'
      x-amzn-Remapped-Date:
      - Thu, 20 Jan 2022 00:18:37 GMT
      x-amzn-Remapped-Server:
      - Jetty(9.4.44.v20210927)
      x-amzn-RequestId:
      - c386b77a-2942-4fa9-936e-1e1061455c2d
    status:
      code: 200
      message: OK
    url: https://global-prd-api.hellostake.com/api/user
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/users/accounts/cashAvailableForWithdrawal
  response:
    body:
      string: '{"cashAvailableForWithdrawal": 1000, "cashAvailableForTrade": 800,
        "cashBalance": 16228.22, "reservedCash": 0.0, "liquidCash": 16228.22, "dwCashAvailableForWithdrawal":
        1000, "pendingOrdersAmount": 0.0, "pendingWithdrawals": 0.0, "cardHoldAmount":
        0.0, "pendingPoliAmount": 0.0, "cashSettlement": [{"utcTime": "2022-01-20T14:30:00.001Z",
        "cash": 0.0}, {"utcTime": "2022-01-21T14:30:00.001Z", "cash": 12622.53}, null]}'
    headers:
      Content-Type:
      - application/json
      stake_tid:
      - 782cefb9-9dd3-43a2-b438-601b31e68eed
      x-amz-apigw-id:
      - MN-OtESVywMFcPg=
      x-amzn-Remapped-Content-Length:
      - '399'
      x-amzn-Remapped-Date:
      - Thu, 20 Jan 2022 00:18:37 GMT
      x-amzn-Remapped-Server:
      - Jetty(9.4.44.v20210927)
      x-amzn-RequestId:
      - 0ff79119-e818-40af-89aa-54b0f878a7de
    status:
      code: 200
      message: OK
    url: https://global-prd-api.hellostake.com/api/users/accounts/cashAvailableForWithdrawal
version: 1
