interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "leonardzachary", "emailAddress": "ellen70@bates-williams.com",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "R6-1813041A", "macAccountNumber": "K4-3517949y", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Tammy", "middleName": null, "lastName": "Alexander", "phoneNumber":
          "9011530005", "signUpPhase": 0, "ackSignedWhen": "2022-01-22", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "A1-2107594j", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://global-prd-api.hellostake.com/api/users/accounts/transactionHistory
    response:
      body:
        string:
          '[{"transactionType": "Dividend", "finTranTypeID": "DIV", "timestamp":
          "2022-07-11T04:18:43.146Z", "tranAmount": 1000, "feeAmount": 0.0, "orderID":
          "HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59", "symbol": "LIT", "side": "CREDIT",
          "text": "LIT Dividend", "comment": "A1-6376984m", "amountPerShare": 0.0622,
          "taxRate": 0.0, "reference": "S7-1945193t", "referenceType": null}, {"transactionType":
          "Dividend Tax", "finTranTypeID": "DIVTAX", "timestamp": "2022-07-11T04:18:41.566Z",
          "tranAmount": 1000, "feeAmount": 0.0, "orderID": "HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "symbol": "LIT", "side": "DEBIT", "text": "LIT Dividend Tax", "comment": "A1-6376984m",
          "amountPerShare": 0.0, "taxRate": 0.15, "reference": "S7-1945193t", "referenceType":
          null}, {"transactionType": "Dividend Tax", "finTranTypeID": "DIVTAX", "t[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/users/accounts/transactionDetails?reference=S7-1945193t&referenceType=Funding
    response:
      body:
        string:
          '{"insertDate": 1628229668979, "channel": "Poli", "amountTo": 2196.01,
          "amountFrom": 3000.0, "status": "RECONCILED", "speed": "Regular", "fxFee":
          20.39, "expressFee": 0.0, "channelFee": null, "totalFee": 20.39, "feesDisplayCurrency":
          "USD", "spotRate": 0.7388, "reference": "S7-1945193t", "w8fee": 0.0, "currencyFrom":
          "AUD", "currencyTo": "USD", "iof": null, "vet": null, "bsb": null, "accountNumber":
          null, "transactionDetails": null}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/users/accounts/transactionDetails?reference=S7-1945193t&referenceType=Funding
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/users/accounts/transactionDetails?reference=S7-1945193t&referenceType=Funding
    response:
      body:
        string:
          '{"insertDate": 1632879790963, "channel": "Poli", "amountTo": 3796.79,
          "amountFrom": 5300.0, "status": "RECONCILED", "speed": "Regular", "fxFee":
          35.64, "expressFee": 0.0, "channelFee": null, "totalFee": 35.64, "feesDisplayCurrency":
          "USD", "spotRate": 0.7231, "reference": "S7-1945193t", "w8fee": 0.0, "currencyFrom":
          "AUD", "currencyTo": "USD", "iof": null, "vet": null, "bsb": null, "accountNumber":
          null, "transactionDetails": null}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/users/accounts/transactionDetails?reference=S7-1945193t&referenceType=Funding
version: 1
