interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/transactions?status=RECONCILED&size=3&page=0
    response:
      body:
        string: '{"items":[{"id":"6fd4187a-559b-4326-b9bb-6fb6312ece7b","side":"CREDIT","amount":18.27,"currency":"AUD","action":"DIVIDEND_DEPOSIT","reference":"I0-1907220h","userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","status":"RECONCILED","approvedBy":null,"customerFee":0.0,"insertedAt":"2022-07-18T07:32:28.836634","updatedAt":"2022-07-27T07:13:13.455605"},{"id":"6fd4187a-559b-4326-b9bb-6fb6312ece7b","side":"DEBIT","amount":1148.28,"currency":"AUD","action":"SETTLEMENT","reference":"I0-1907220h","userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","status":"RECONCILED","approvedBy":null,"customerFee":0.0,"insertedAt":"2022-07-26T20:02:16.50554","updatedAt":"2022-07-26T20:02:17.488227"},{"id":"6fd4187a-559b-4326-b9bb-6fb6312ece7b","side":"CREDIT","amount":26.58,"currency":"AUD","action":"DIVIDEND_DEPOSIT","reference":"I0-1907220h","userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","status":"RECONCILED","approvedBy":null,"customerFee":0.0,"insertedAt":"2022-01-18T21:24:30.449019","updatedAt":"2022-07-14T02:59:09.799755"}],"hasNext":true,"page":0,"totalItems":37}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/transactions?status=RECONCILED&size=3&page=0
version: 1
