interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/users/accounts/transactionHistory
    response:
      body:
        string: '[{"transactionType":"Funding","finTranTypeID":"JNLC","timestamp":"2020-01-01T00:00:00.000Z","tranAmount":1000,"feeAmount":0.0,"orderID":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","symbol":null,"side":"CREDIT","text":"Redacted","comment":"T1-0872999T","amountPerShare":0.0,"taxRate":0.0,"reference":"I0-1907220h","referenceType":"Funding"},{"transactionType":"Funding","finTranTypeID":"JNLC","timestamp":"2020-01-01T00:00:00.000Z","tranAmount":1000,"feeAmount":0.0,"orderID":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","symbol":null,"side":"CREDIT","text":"Redacted","comment":"T1-0872999T","amountPerShare":0.0,"taxRate":0.0,"reference":"I0-1907220h","referenceType":"Funding"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/users/accounts/transactionHistory
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/transactionDetails?reference=I0-1907220h&referenceType=Funding
    response:
      body:
        string: '{"insertDate":1574303699770,"channel":"Poli","amountTo":2196.01,"amountFrom":3000.0,"status":"RECONCILED","speed":"Regular","fxFee":20.39,"expressFee":0.0,"channelFee":null,"totalFee":20.39,"feesDisplayCurrency":"USD","spotRate":0.7388,"reference":"I0-1907220h","w8fee":0.0,"currencyFrom":"AUD","currencyTo":"USD","iof":null,"vet":null,"bsb":"h9-7975670P","accountNumber":"Z5-3001375g","transactionDetails":null}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/users/accounts/transactionDetails?reference=I0-1907220h&referenceType=Funding
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/transactionDetails?reference=I0-1907220h&referenceType=Funding
    response:
      body:
        string: '{"insertDate":1574303699770,"channel":"Poli","amountTo":3796.79,"amountFrom":5300.0,"status":"RECONCILED","speed":"Regular","fxFee":35.64,"expressFee":0.0,"channelFee":null,"totalFee":35.64,"feesDisplayCurrency":"USD","spotRate":0.7231,"reference":"I0-1907220h","w8fee":0.0,"currencyFrom":"AUD","currencyTo":"USD","iof":null,"vet":null,"bsb":"h9-7975670P","accountNumber":"Z5-3001375g","transactionDetails":null}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/users/accounts/transactionDetails?reference=I0-1907220h&referenceType=Funding
version: 1
