interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "leonardzachary", "emailAddress": "ellen70@bates-williams.com",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "R6-1813041A", "macAccountNumber": "K4-3517949y", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Tammy", "middleName": null, "lastName": "Alexander", "phoneNumber":
          "9011530005", "signUpPhase": 0, "ackSignedWhen": "2022-01-22", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "A1-2107594j", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/v2/equityPositions
    response:
      body:
        string:
          '{"equityPositions": [{"unrealizedDayPLPercent": 1.0, "symbol": "AAPL",
          "encodedName": "apple-inc-aapl", "unrealizedDayPL": "11.92", "instrumentID":
          "a67422af-8504-43df-9e63-7361eb0bd99e", "openQty": "100", "priorClose":
          "151", "avgPrice": "171.19", "side": "B", "costBasis": "1E+3", "mktPrice":
          "153.04", "marketValue": "893.99", "unrealizedPL": 1.0, "availableForTradingQty":
          "5.84152111", "name": "Apple, Inc.", "category": "Stock", "urlImage": "https://drivewealth.imgix.net/symbols/aapl.png?fit=fillmax&w=125&h=125&bg=FFFFFF",
          "bidPrice": null, "askPrice": null, "returnOnStock": null, "lastTrade": 153.04,
          "dailyReturnValue": 2.04, "yearlyReturnValue": 50.3, "yearlyReturnPercentage":
          71.05, "period": "YEAR RETURN", "exchange": null}, {"unrealizedDayPLPercent":
          1.0, "symbol": "COP", "encodedName": "conocophillips-cop", "unrealizedDayPL":
          "11.15", "instrumentID": "6b4f77d9-5617-4885-8377-ebc211d32bf7", "openQty":
          "100", "priorClose": "88.48", "avgPrice": "116", "side": "B", "costBasis": "5.8E+2",
          "mktPrice": "90.71", "marketValue": "453.55", "unrealizedPL": 1.0, "availableForTradingQty":
          "5", "name": "ConocoPhillips", "category": "Stock", "urlImage": "https://d3an3cesqm[...]
