interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/v2/equityPositions
    response:
      body:
        string:
          '{"equityPositions":[{"unrealizedDayPLPercent":1.0,"symbol":"AAPL","encodedName":"apple-inc-aapl","unrealizedDayPL":"1.0","instrumentID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","openQty":"100","priorClose":"151","avgPrice":"171.19","side":"B","costBasis":"1E+3","mktPrice":"153.04","marketValue":"893.99","unrealizedPL":1.0,"availableForTradingQty":"5.84152111","name":"Apple,
          Inc.","category":"Stock","urlImage":"https://drivewealth.imgix.net/symbols/aapl.png?fit=fillmax&w=125&h=125&bg=FFFFFF","bidPrice":null,"askPrice":null,"returnOnStock":null,"lastTrade":153.04,"dailyReturnValue":2.04,"yearlyReturnValue":50.3,"yearlyReturnPercentage":71.05,"period":"YEAR
          RETURN","exchange":null},{"unrealizedDayPLPercent":1.0,"symbol":"COP","encodedName":"conocophillips-cop","unrealizedDayPL":"1.0","instrumentID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","openQty":"100","priorClose":"88.48","avgPrice":"116","side":"B","costBasis":"5.8E+2","mktPrice":"90.71","marketValue":"453.55","unrealizedPL":1.0,"availableForTradingQty":"5","name":"ConocoPhillips","category":"Stock","urlImage":"https://d3an3cesqmrf1x.cloudfront.net/images/symbols/cop.png","bidPrice":null,"askPrice":null,"returnOnSt[...]
