interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/equityPositions
    response:
      body:
        string:
          '{"pageNum":0,"hasNext":false,"equityPositions":[{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","symbol":"FUEL","name":"BETA
          GLOBAL ENERGY ETF UNITS","openQty":"100","availableForTradingQty":"170","averagePrice":"5.9400","marketValue":"953.7000","mktPrice":"5.6100","priorClose":"5.5900","unrealizedDayPL":"1.0","unrealizedDayPLPercent":1.0,"unrealizedPL":1.0,"unrealizedPLPercent":"1.0","recentAnnouncement":false,"sensitive":false},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","symbol":"WDS","name":"WOODSIDE
          ENERGY FPO","openQty":"100","availableForTradingQty":"3","averagePrice":"0","marketValue":"93.4200","mktPrice":"31.1400","priorClose":"32.5700","unrealizedDayPL":"1.0","unrealizedDayPLPercent":1.0,"unrealizedPL":1.0,"unrealizedPLPercent":"1.0","recentAnnouncement":true,"sensitive":true},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","symbol":"WTC","name":"WISETECH
          GLOBAL LTD [...]
