interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "leonardzachary", "emailAddress": "ellen70@bates-williams.com",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "R6-1813041A", "macAccountNumber": "K4-3517949y", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Tammy", "middleName": null, "lastName": "Alexander", "phoneNumber":
          "9011530005", "signUpPhase": 0, "ackSignedWhen": "2022-01-22", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "A1-2107594j", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://early-bird-promo.hellostake.com/marketStatus
    response:
      body:
        string:
          '{"lastTradingDate": "2022-07-19", "status": {"current": "close"}, "marketLimits":
          [[0, 0.005, 0.125], [0.005, 0.02, 0.075], [0.02, 0.05, 0.0625], [0.05, 0.1,
          0.05], [0.1, 0.2, 0.045], [0.2, 0.5, 0.03], [0.5, 1, 0.0125], [1, 2, 0.0125],
          [2, 5, 0.01], [5, 15, 0.0075], [15, 39, 0.005], [30, 50, 0.0025], [50, 100,
          0.0025], [100, 250, 0.0025], [250, 500, 0.0025], [500, 9999, 0.0025]], "passiveLimits":
          [[0, 0.005, 1], [0.005, 0.02, 0.6], [0.02, 0.05, 0.5], [0.05, 0.1, 0.4], [0.1,
          0.2, 0.4], [0.2, 0.5, 0.4], [0.5, 1, 0.3], [1, 2, 0.3], [2, 5, 0.3], [5, 15,
          0.3], [15, 39, 0.2], [30, 50, 0.2], [50, 100, 0.2], [100, 250, 0.2], [250,
          500, 0.2], [500, 9999, 0.2]]}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://early-bird-promo.hellostake.com/marketStatus
version: 1
