interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/user
  response:
    body:
      string: '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
        true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
        "username": "rita19", "emailAddress": "torresbenjamin@gmail.com", "dw_AccountId":
        "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber": "w4-1267174s",
        "macAccountNumber": "H1-7641957H", "status": null, "macStatus": "BASIC_USER",
        "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
        null, "firstName": "Tammy", "lastName": "Alexander", "phoneNumber": "9011530005",
        "signUpPhase": 0, "ackSignedWhen": "2021-05-18", "createdDate": 1574303699770,
        "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
        null, "referralCode": "L7-2127933N", "referredByCode": null, "regionIdentifier":
        "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
        null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
        null, "userProfile": {"residentialAddress": null, "postalAddress": null},
        "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
        "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
        "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
        null, "documentsStatus": "NO_ACTION", "mfaenabled": false}'
    headers:
      Content-Type:
      - application/json
      stake_tid:
      - e37c51fe-338d-44a4-887e-052c93541240
      x-amz-apigw-id:
      - MPdDbEEgSwMFVXQ=
      x-amzn-Remapped-Content-Length:
      - '1187'
      x-amzn-Remapped-Date:
      - Thu, 20 Jan 2022 11:05:57 GMT
      x-amzn-Remapped-Server:
      - Jetty(9.4.44.v20210927)
      x-amzn-RequestId:
      - e8fbd360-686f-4839-b0cc-af5487bd1b76
    status:
      code: 200
      message: OK
    url: https://global-prd-api.hellostake.com/api/user
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/utils/marketStatus
  response:
    body:
      string: '{"response": {"message": "Market is open Monday through Friday 9:30AM
        to 4:00PM EST", "unixtime": "1642676728.78783", "error": "Success", "status":
        {"change_at": "08:00:00", "next": "pre", "current": "close"}, "elapsedtime":
        "0", "date": "2022-01-20 06:05:28.7878289-05:00", "versionNumber": "2.56.0"}}'
    headers:
      Content-Type:
      - application/json
      stake_tid:
      - 7160cf4c-b191-43d4-b089-6958b77ce6fd
      x-amz-apigw-id:
      - MPdDiGOuywMFe3w=
      x-amzn-Remapped-Content-Length:
      - '283'
      x-amzn-Remapped-Date:
      - Thu, 20 Jan 2022 11:05:58 GMT
      x-amzn-Remapped-Server:
      - Jetty(9.4.44.v20210927)
      x-amzn-RequestId:
      - ffe518de-459b-4192-836f-cba6fb6c25eb
    status:
      code: 202
      message: Accepted
    url: https://global-prd-api.hellostake.com/api/utils/marketStatus
version: 1
