interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/singleQuote/COL
    response:
      body:
        string: '{"marketStatus":"CLOSED","lastTradedExchange":"ASX","symbol":"COL","lastTradedTimestamp":1658988616,"lastTrade":"18.6400","bid":"18.6300","ask":"18.6400","priorClose":"18.7100","open":"18.6900","high":"18.6900","low":"18.4900","pointsChange":"-0.0700","percentageChange":"-0.37","outOfMarketPrice":"18.6400","outOfMarketQuantity":"848925","outOfMarketSurplus":"-56140"}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/instrument/singleQuote/COL
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/instrument/view/COL
    response:
      body:
        string: '{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59"}'
      headers: {}
      status:
        code: 201
        message: Created
      url: https://api2.prd.hellostake.com/api/asx/instrument/view/COL
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/orders
    response:
      body:
        string: '{"order":{"id":"1cf93550-8eb4-4c32-a229-826cf8c1be59","broker":"FINCLEAR","brokerOrderId":11111,"brokerOrderVersionId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","brokerInstructionId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","brokerInstructionVersionId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","instrumentCode":"COL.XAU","side":"SELL","limitPrice":18.63,"validity":"GTC","validityDate":null,"type":"MARKET_TO_LIMIT","placedTimestamp":"2022-07-28T20:49:39.621702","completedTimestamp":null,"expiresAt":"2022-08-29T00:00:00","orderStatus":"STAKE_PENDING_CREATE","orderCompletionType":null,"filledUnits":0,"averagePrice":null,"unitsRemaining":20,"estimatedBrokerage":0.0,"estimatedExchangeFees":0.0}}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/orders
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/orders/1cf93550-8eb4-4c32-a229-826cf8c1be59/cancel
    response:
      body:
        string: '{"order":{"id":"1cf93550-8eb4-4c32-a229-826cf8c1be59","broker":"FINCLEAR","brokerOrderId":11111,"brokerOrderVersionId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","brokerInstructionId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","brokerInstructionVersionId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","instrumentCode":"COL.XAU","side":"SELL","limitPrice":18.63,"validity":"GTC","validityDate":null,"type":"MARKET_TO_LIMIT","placedTimestamp":"2022-07-28T20:49:39.621702","completedTimestamp":null,"expiresAt":"2022-08-29T00:00:00","orderStatus":"CLOSED","orderCompletionType":"CANCELLED","filledUnits":0,"averagePrice":null,"unitsRemaining":20,"estimatedBrokerage":0.0,"estimatedExchangeFees":0.0}}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/orders/1cf93550-8eb4-4c32-a229-826cf8c1be59/cancel
version: 1
