interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/products/searchProduct?symbol=AMD&page=1&max=1
    response:
      body:
        string:
          '{"products":[{"id":"c6477745-9bd3-4200-b409-49056ee810ca","instrumentTypeID":null,"symbol":"AMD","description":"Advanced
          Micro Devices, Inc. is a global semiconductor company. The Company is engaged
          in offering x86 microprocessors, as standalone devices or as incorporated
          into an accelerated processing unit (APU), chipsets, discrete graphics processing
          units (GPUs) and professional graphics, and server and embedded processors
          and semi-custom System-on-Chip (SoC) products and technology for game consoles.
          The Company''s segments include the Computing and Graphics segment, and the
          Enterprise, Embedded and Semi-Custom segment. The Computing and Graphics segment
          primarily includes desktop and notebook processors and chipsets, discrete
          GPUs and professional graphics. The Enterprise, Embedded and Semi-Custom segment
          primarily includes server and embedded processors, semi-custom SoC products,
          development services, technology for game consoles and licensing portions
          of its intellectual property portfolio.","category":"Stock","currencyID":"USD","urlImage":"https://d3an3cesqmrf1x.cloudfront.net/images/symbols/amd.png","sector":"Technology","name":"Advanced
          Micro Devices, Inc.","dailyReturn":-3.41,"dailyReturnPercentage":-2.58,"lastTraded":128.52,"monthlyReturn":0.0,"yearlyReturnPercentage":73.05,"yearlyReturnValue":33.15,"popularity":800.0,"watched":20790,"news":0,"bought":52423,"viewed":95400,"productType":"Instrument","exchange":null,"status":"ACTIVE","type":"EQUITY","encodedName":"advanced-micro-devices-inc-amd","period":"YEAR
          RETURN","inceptionDate":322099200000,"instrumentTags":[],"childInstruments":[]}]}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/products/searchProduct?symbol=AMD&page=1&max=1
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/purchaseorders/v2/quickBuy
    response:
      body:
        string:
          '[{"id":"0c2582b9-1c12-42d2-b53c-ed249a352bae","itemId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Advanced
          Micro Devices, Inc.","quantity":null,"lastPx":null,"lastQty":null,"leavesQty":null,"allocatedQty":null,"amountCash":10.0,"limitPrice":null,"stopPrice":null,"effectivePrice":null,"autoStop":0.0,"commission":0.0,"grossTradeAmount":null,"description":null,"insertedDate":1642680652083,"updatedDate":1642680652083,"side":"BUY","orderRejectReason":null,"orderRejectReasonStake":null,"errorCode":null,"encodedName":"advanced-micro-devices-inc-amd","imageURL":"https://d3an3cesqmrf1x.cloudfront.net/images/symbols/amd.png","symbol":"AMD","dwOrderId":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderStatus":"NEW","type":"STOP","status":0,"category":"stop"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/purchaseorders/v2/quickBuy
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/transactions
    response:
      body:
        string:
          '{"transactions":[{"orderId":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderNo":"Z5-3001375g","symbol":"AMD","cumQty":"0","orderStatus":"8","orderType":"3","orderQty":0.0,"orderCashAmt":10.0,"side":"B","createdWhen":"2022-02-15
          04:31:52","updatedReason":"0121 Buy Stop price must be >= nbbo ask + 5 cents.
          bid:128.27 ask:128.27","commission":0.0,"executedWhen":null,"isoTimeRestingOrderExpires":"2022-04-20T20:00:00.000Z","limitPrice":0.0,"stopPrice":10.0,"cancelledWhen":null,"executedPrice":null,"commissionDesc":"Standard
          Commission","updatedWhen":"2022-01-20T12:10:53.290Z","realizedPL":1.0},{"orderId":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderNo":"Z5-3001375g","symbol":"AMD","cumQty":"0","orderStatus":"8","orderType":"3","orderQty":0.0,"orderCashAmt":10.0,"side":"B","createdWhen":"2022-02-15
          04:31:52","updatedReason":"0121 Buy Stop price must be >= nbbo ask + 5 cents.
          bid:128.27 ask:128.27","commission":0.0,"executedWhen":null,"isoTimeRestingOrderExpires":"2022-04-20T20:00:00.000Z","limitPrice":0.0,"stopPrice":10.0,"cancelledWhen":null,"executedPrice[...]
