interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2021-11-15", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/singleQuote/COL
    response:
      body:
        string:
          '{"marketStatus": "CLOSED", "lastTradedExchange": "ASX", "symbol": "COL",
          "lastTradedTimestamp": 1658902258, "lastTrade": "18.7100", "bid": "18.7100",
          "ask": "18.7200", "priorClose": "18.7800", "open": "18.8900", "high": "18.9400",
          "low": "18.6400", "pointsChange": "-0.0700", "percentageChange": "-0.37",
          "outOfMarketPrice": "18.7100", "outOfMarketQuantity": "652055", "outOfMarketSurplus":
          "38105"}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/instrument/singleQuote/COL
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/instrument/view/COL
    response:
      body:
        string: '{"instrumentId": "COL.XAU"}'
      headers: {}
      status:
        code: 201
        message: Created
      url: https://api2.prd.hellostake.com/api/asx/instrument/view/COL
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/orders
    response:
      body:
        string:
          '{"order": {"id": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "broker":
          "FINCLEAR", "brokerOrderId": 11111, "brokerOrderVersionId": null, "brokerInstructionId":
          4816685, "brokerInstructionVersionId": 2, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "instrumentId": null, "instrumentCode": "COL.XAU", "side": "BUY", "limitPrice":
          18.72, "validity": "GTC", "validityDate": null, "type": "MARKET_TO_LIMIT",
          "placedTimestamp": "2022-07-27T22:22:45.164059", "completedTimestamp": null,
          "expiresAt": "2022-08-26T00:00:00", "orderStatus": "STAKE_PENDING_CREATE",
          "orderCompletionType": null, "filledUnits": 0, "averagePrice": null, "unitsRemaining":
          20, "estimatedBrokerage": 0.0, "estimatedExchangeFees": 0.0}}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/orders
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/orders/1cf93550-8eb4-4c32-a229-826cf8c1be59/cancel
    response:
      body:
        string:
          '{"order": {"id": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "broker":
          "FINCLEAR", "brokerOrderId": 11111, "brokerOrderVersionId": null, "brokerInstructionId":
          4816685, "brokerInstructionVersionId": 2, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "instrumentId": null, "instrumentCode": "COL.XAU", "side": "BUY", "limitPrice":
          18.72, "validity": "GTC", "validityDate": null, "type": "MARKET_TO_LIMIT",
          "placedTimestamp": "2022-07-27T22:22:45.164059", "completedTimestamp": null,
          "expiresAt": "2022-08-26T00:00:00", "orderStatus": "CLOSED", "orderCompletionType":
          "CANCELLED", "filledUnits": 0, "averagePrice": null, "unitsRemaining": 20,
          "estimatedBrokerage": 0.0, "estimatedExchangeFees": 0.0}}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/asx/orders/1cf93550-8eb4-4c32-a229-826cf8c1be59/cancel
version: 1
