interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2021-11-15", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://global-prd-api.hellostake.com/api/users/accounts/accountTransactions
    response:
      body:
        string:
          '[{"accountAmount": 0.62, "accountBalance": 29442.32, "accountType":
          "LIVE", "comment": "f1-9011914a", "dnb": false, "finTranID": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "finTranTypeID": "DIV", "feeSec": 0.0, "feeTaf": 0.0, "feeBase": 0.0, "feeXtraShares":
          0.0, "feeExchange": 0.0, "fillQty": 0.0, "fillPx": 0.0, "sendCommissionToInteliclear":
          false, "systemAmount": 0.0, "tranAmount": 1000, "tranSource": "INTE", "tranWhen":
          "2020-06-09 03:35:08", "wlpAmount": 0.0, "wlpFinTranTypeID": "b553ef2c-13f8-411b-977c-00fbc5efbe59",
          "instrument": {"id": "20076f7d-ff21-4741-86be-33dac978ceff", "symbol": "LIT",
          "name": "Global X Lithium & Battery Tech ETF"}, "dividend": {"type": "CASH",
          "amountPerShare": 0.0622, "taxCode": "FULLY_TAXABLE"}, "dividendTax": null,
          "mergerAcquisition": null, "positionDelta": null, "orderID": "HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "orderNo": "x5-4334954E"}, {"accountAmount": 3.5, "accountBalance": 29445.82,
          "accountType": "LIVE", "comment": "f1-9011914a", "dnb": false, "finTranID":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "finTranTypeID": "DIV", "feeSec":
          0.0, "feeTaf": 0.0, "feeBase": 0.0, "feeXtraShares": 0.0, "feeExchange": 0.0,
          "fillQty": 0.0, "fillPx": 0.0, "sendCommissionToInteliclear": false, "systemAmount":
          0.0, "tranAmount": 1000, "tranSource": "INTE", "tranWhen": "2020-06-0[...]
