interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/users/accounts/accountTransactions
    response:
      body:
        string:
          '[{"accountAmount":1.0,"accountBalance":1000.0,"accountType":"LIVE","comment":"T1-0872999T","dnb":false,"finTranID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","finTranTypeID":"DIV","feeSec":0.0,"feeTaf":0.0,"feeBase":0.0,"feeXtraShares":0.0,"feeExchange":0.0,"fillQty":0.0,"fillPx":0.0,"sendCommissionToInteliclear":false,"systemAmount":0.0,"tranAmount":1000,"tranSource":"INTE","tranWhen":"2021-07-04
          23:39:19","wlpAmount":0.0,"wlpFinTranTypeID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","instrument":{"id":"20076f7d-ff21-4741-86be-33dac978ceff","symbol":"LIT","name":"Global
          X Lithium & Battery Tech ETF"},"dividend":{"type":"CASH","amountPerShare":0.0622,"taxCode":"FULLY_TAXABLE"},"dividendTax":null,"mergerAcquisition":null,"positionDelta":null,"orderID":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderNo":"Z5-3001375g"},{"accountAmount":1.0,"accountBalance":1000.0,"accountType":"LIVE","comment":"T1-0872999T","dnb":false,"finTranID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","finTranTypeID":"DIV","feeSec":0.0,"feeTaf":0.0,"feeBase":0.0,"feeXtraShares":0.0,"feeExchange":0.0,"fillQty":0.0,"fillPx":0.0,"sendCommissionToInteliclear":false,"systemAmount":0.0,"tranAmount":1000,"tranSource":"INTE","tranWhen":"2021-07-04
          23:39:19","wlpAmount":0.0,"wlpFinTranTypeID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","instrument":{"id":"20076f7d-ff21-4741-86be-33dac978ceff","symbol":"COP","name":"ConocoPhillips"},"dividend":{"type":"CASH","amountPerShare":0.7,"taxCode":"FULLY_TAXABLE"},"dividendTax":null,"mergerAcquisition":null,"positionDelta":null,"orderID":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderNo":"Z5-3001375g"},{"accountAmount":1.0,"accountBalance":1000.0,"accountType":"LIVE","comment":"T1-0872999T","dnb":false,"finTranID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","finTranTypeID":"DIVTAX","feeSec":0.0,"feeTaf":0.0,"feeBase":0.0,"feeXtraShares":0.0,"feeExchange":0.0,"fillQty":0.0,"fillPx":0.0,"sendCommissionToInteliclear":false,"systemAmount":0.0,"tranAmount":1000,"tranSource":"INTE","tranWhen":"2021-07-04
          23:39:19","wlpAmount":0.0,"wlpFinTranTypeID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","instrument":{"id":"20076f7d-ff21-4741-86be-33dac978ceff","symbol":"COP","name":"ConocoPhillips"},"dividend":null,"dividendTax":{"rate":0.15,"type":"NON_RESIDENT_ALIEN"},"mergerAcquisition":null,"positionDelta":null,"orderID":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderNo":"Z5-3001375g"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/users/accounts/accountTransactions
version: 1
