interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/user
  response:
    body:
      string: '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
        true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
        "username": "rita19", "emailAddress": "torresbenjamin@gmail.com", "dw_AccountId":
        "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber": "w4-1267174s",
        "macAccountNumber": "H1-7641957H", "status": null, "macStatus": "BASIC_USER",
        "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
        null, "firstName": "Tammy", "lastName": "Alexander", "phoneNumber": "9011530005",
        "signUpPhase": 0, "ackSignedWhen": "2021-05-18", "createdDate": 1574303699770,
        "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
        null, "referralCode": "L7-2127933N", "referredByCode": null, "regionIdentifier":
        "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
        null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
        null, "userProfile": {"residentialAddress": null, "postalAddress": null},
        "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
        "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
        "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
        null, "documentsStatus": "NO_ACTION", "mfaenabled": false}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://global-prd-api.hellostake.com/api/user
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://global-prd-api.hellostake.com/api/users/accounts/accountTransactions
  response:
    body:
      string: '[{"accountAmount": -79.2, "accountBalance": 3605.76, "accountType":
        "LIVE", "comment": "Buy 0.94106463 shares of COP at 84.16 FULL fill", "dnb":
        false, "finTranID": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "finTranTypeID":
        "SPUR", "feeSec": 0.0, "feeTaf": 0.0, "feeBase": 0.0, "feeXtraShares": 0.0,
        "feeExchange": 0.0, "fillQty": 0.94106463, "fillPx": 84.16, "sendCommissionToInteliclear":
        false, "systemAmount": 0.0, "tranAmount": -79.2, "tranSource": "EMS", "tranWhen":
        "2021-07-13 08:09:30", "wlpAmount": 0.0, "wlpFinTranTypeID": null, "instrument":
        {"id": "702afeb3-79df-463d-93e7-c30d791f5a25", "symbol": "COP", "name": "ConocoPhillips"},
        "dividend": null, "dividendTax": null, "mergerAcquisition": null, "positionDelta":
        null, "orderID": "HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59", "orderNo": "S2-9425658g"},
        {"accountAmount": 12622.53, "accountBalance": 16228.29, "accountType": "LIVE",
        "comment": "Sell 30 shares of VGT at 420.751 FULL fill", "dnb": false, "finTranID":
        "1cf93550-8eb4-4c32-a229-826cf8c1be59", "finTranTypeID": "SSAL", "feeSec":
        0.0, "feeTaf": 0.0, "feeBase": 0.0, "feeXtraShares": 0.0, "feeExchange": 0.0,
        "fillQty": 30.0, "fillPx": 420.75, "sendCommissionToInteliclear": false, "systemAmount":
        0.0, "tranAmount": 12622.53, "[...]
