interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2021-11-15", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/asx/orders/tradeActivity?size=3&page=0
    response:
      body:
        string:
          '{"items": [{"brokerOrderId": 11111, "instrumentCode": "CBA.XAU", "type":
          "MARKET_TO_LIMIT", "side": "BUY", "limitPrice": 97.3, "averagePrice": 97.08,
          "completedTimestamp": "2022-07-25T05:17:10.595", "placedTimestamp": "2022-07-25T15:17:10.231591",
          "orderStatus": "CLOSED", "orderCompletionType": "FILLED", "consideration":
          582.48, "effectivePrice": 97.08, "units": 6, "userBrokerageFees": 0.0, "executionDate":
          "2022-07-25", "contractNoteReceived": true, "contractNoteNumber": "1799186",
          "contractNoteNumbers": ["1799186"]}, {"brokerOrderId": 11111, "instrumentCode":
          "COL.XAU", "type": "MARKET_TO_LIMIT", "side": "BUY", "limitPrice": 18.95,
          "averagePrice": 18.86, "completedTimestamp": "2022-07-25T05:04:26.126", "placedTimestamp":
          "2022-07-25T15:04:25.685884", "oexerderStatus": "CLOSED", "orderCompletionType":
          "FILLED", "consideration": 565.8, "effectivePrice": 18.86, "units": 30, "userBrokerageFees":
          0.0, "executionDate": "2022-07-25", "contractNoteReceived": true, "contractNoteNumber":
          "1799124", "contractNoteNumbers": ["1799124"]}, {"brokerOrderId": 11111, "instrumentCode":
          "VMM.XAU", "type": "MARKET_TO_LIMIT", "side": "SELL", "limitPrice": 0.295,
          "averagePrice": 0.295, "completedTimestamp": "2022-05-20T05:49:08.817", "placedTimestamp":
          "2022-05-20T15:46:46.189472", "orderStatus": "CLOSED", "orderCompletionType":
          "FILLED", "consideration": 590.0, "effectivePrice": 0.295, "units": 2000,
          "userBrokerageFees": 0.0, "executionDate": "2022-05-20", "contractNoteReceived":
          true, "contractNoteNumber": "1575807", "contractNoteNumbers": ["1575807"]}],
          "hasNext": true, "page": 0, "totalItems": 38}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/asx/orders/tradeActivity?size=3&page=0
version: 1
