interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"investorAccreditations":null,"proscoreStatus":null,"fxSpeed":"Regular","facilitaStatus":null,"dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/v2/orders
    response:
      body:
        string:
          '[{"orderNo":"Z5-3001375g","orderID":"HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59","orderCashAmt":100.0,"symbol":"AAPL","price":0.0,"stopPrice":0.0,"side":"B","orderType":1,"cumQty":"0","limitPrice":0.0,"commission":0.0,"createdWhen":"2022-02-15
          04:31:52","orderStatus":0,"orderQty":0.6541078,"description":"Market Order","instrumentID":"1cf93550-8eb4-4c32-a229-826cf8c1be59","imageUrl":"https://drivewealth.imgix.net/symbols/aapl.png?fit=fillmax&w=125&h=125&bg=FFFFFF","instrumentSymbol":"AAPL","instrumentName":"Apple,
          Inc.","encodedName":"apple-inc-aapl","expires":"2022-07-27"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/users/accounts/v2/orders
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: DELETE
      uri: https://api2.prd.hellostake.com/api/orders/cancelOrder/HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string: ""
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/orders/cancelOrder/HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/users/accounts/v2/orders
    response:
      body:
        string: "[]"
      headers: {}
      status:
        code: 200
        message: OK
      url: https://api2.prd.hellostake.com/api/users/accounts/v2/orders
version: 1
