interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2021-11-15", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/users/accounts/v2/orders
    response:
      body:
        string:
          '[{"orderNo": "x5-4334954E", "orderID": "HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "orderCashAmt": 100.0, "symbol": "AAPL", "price": 0.0, "stopPrice": 0.0, "side":
          "B", "orderType": 1, "cumQty": "0.0", "limitPrice": 0.0, "commission": 0.0,
          "createdWhen": "2021-07-04 21:46:25", "orderStatus": 0, "orderQty": 0.6541078,
          "description": "Market Order", "instrumentID": "a67422af-8504-43df-9e63-7361eb0bd99e",
          "imageUrl": "https://drivewealth.imgix.net/symbols/aapl.png?fit=fillmax&w=125&h=125&bg=FFFFFF",
          "instrumentSymbol": "AAPL", "instrumentName": "Apple, Inc.", "encodedName":
          "apple-inc-aapl", "expires": "2022-07-27"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/users/accounts/v2/orders
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: DELETE
      uri: https://global-prd-api.hellostake.com/api/orders/cancelOrder/HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string: ""
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/orders/cancelOrder/HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/users/accounts/v2/orders
    response:
      body:
        string: "[]"
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/users/accounts/v2/orders
version: 1
