interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "rita19", "emailAddress": "torresbenjamin@gmail.com", "dw_AccountId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber": "w4-1267174s",
          "macAccountNumber": "H1-7641957H", "status": null, "macStatus": "BASIC_USER",
          "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Tammy", "lastName": "Alexander", "phoneNumber": "9011530005",
          "signUpPhase": 0, "ackSignedWhen": "2021-05-18", "createdDate": 1574303699770,
          "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "L7-2127933N", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "mfaenabled": false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/users/accounts/v2/orders
    response:
      body:
        string:
          '[{"orderNo": "S2-9425658g", "orderID": "HHI.1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "orderCashAmt": 0.0, "symbol": "TQQQ", "price": 0.0, "stopPrice": 63.0, "side":
          "S", "orderType": 3, "cumQty": "0.0", "limitPrice": 0.0, "commission": 0.0,
          "createdWhen": "2021-11-25 19:16:51", "orderStatus": 0, "orderQty": 98.69975,
          "description": "Stop Order: Sell if price reaches ($63.00)", "instrumentID":
          "63698af7-e71e-4424-9ce7-d34b70fbe260", "imageUrl": "https://drivewealth.imgix.net/symbols/tqqq.png?fit=fillmax&w=125&h=125&bg=FFFFFF",
          "instrumentSymbol": "TQQQ", "instrumentName": "ProShares UltraPro QQQ ETF",
          "encodedName": "proshares-ultrapro-qqq-etf-tqqq"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/users/accounts/v2/orders
version: 1
