interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"fxSpeed":"Instant","dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlists
    response:
      body:
        string: '{"generated":false,"watchlists":[{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-12","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-13","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-17","count":13,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-20","count":12,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-21","count":10,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-28","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-04","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-05","count":15,"timeCreated":"2020-01-01T00:00:00.000Z"}]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body:
        name: test_watchlist__ASXUrl
        tickers:
          - COL
          - WDS
          - BHP
          - OOO
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist
    response:
      body:
        string: '{"newWatchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","watchlists":[{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-12","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-13","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-17","count":13,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-20","count":12,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-21","count":10,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-28","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-04","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-05","count":15,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"test_watchlist__ASXUrl","count":0,"timeCreated":"2020-01-01T00:00:00.000Z"}]}'
      headers: {}
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string: '{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"test_watchlist__ASXUrl","count":0,"instruments":[]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body:
        tickers:
          - COL
          - WDS
          - BHP
          - OOO
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59/items
    response:
      body:
        string:
          '{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"test_watchlist__ASXUrl","count":4,"instruments":[{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Betashares
          Crude Oil Index Currency Hdg Cmplx ETF","symbol":"OOO","recentAnnouncement":false,"sensitive":false,"stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59"},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"BHP
          Group","symbol":"BHP","recentAnnouncement":true,"sensitive":false,"stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59"},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Woodside
          Energy Group","symbol":"WDS","recentAnnouncement":false,"sensitive":false,"stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59"},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Coles
          Group","symbol":"COL","recentAnnouncement":false,"sensitive":false,"stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59"}]}'
      headers: {}
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: DELETE
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string: '[{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-12","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-13","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-17","count":13,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-20","count":12,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-21","count":10,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-28","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-04","count":17,"timeCreated":"2020-01-01T00:00:00.000Z"},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-05","count":15,"timeCreated":"2020-01-01T00:00:00.000Z"}]'
      headers: {}
      status:
        code: 200
        message: OK
version: 1
