interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2021-11-15", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlists
    response:
      body:
        string:
          '{"generated": false, "watchlists": [{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "List #1", "count": 7, "timeCreated": "2022-05-27T22:13:19.251101"},
          {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini",
          "count": 1, "timeCreated": "2022-05-30T06:21:48.134924"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Test List", "count": 0, "timeCreated":
          "2022-07-13T04:05:52.149562"}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Stef 3", "count": 3, "timeCreated": "2022-07-14T07:56:40.921637"}]}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlists
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist
    response:
      body:
        string:
          '{"newWatchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "watchlists":
          [{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "List #1",
          "count": 7, "timeCreated": "2022-05-27T22:13:19.251101"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini", "count": 1, "timeCreated":
          "2022-05-30T06:21:48.134924"}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Test List", "count": 0, "timeCreated": "2022-07-13T04:05:52.149562"},
          {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Stef 3",
          "count": 3, "timeCreated": "2022-07-14T07:56:40.921637"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__ASXUrl",
          "count": 0, "timeCreated": "2022-07-24T06:33:04.897381"}]}'
      headers: {}
      status:
        code: 201
        message: Created
      url: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__ASXUrl",
          "count": 0, "instruments": []}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59/items
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__ASXUrl",
          "count": 3, "instruments": [{"instrumentId": "BHP.XAU", "name": "BHP Group
          Limited", "symbol": "BHP", "recentAnnouncement": false, "sensitive": false},
          {"instrumentId": "WDS.XAU", "name": "Woodside Energy Group Ltd", "symbol":
          "WDS", "recentAnnouncement": false, "sensitive": false}, {"instrumentId":
          "COL.XAU", "name": "Coles Group Limited", "symbol": "COL", "recentAnnouncement":
          false, "sensitive": false}]}'
      headers: {}
      status:
        code: 201
        message: Created
      url: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59/items
[...]
  - request:
      body:
        tickers:
          - COL
          - WDS
          - BHP
      headers:
        Content-Type:
          - application/json
      method: DELETE
      uri: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59/items
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__ASXUrl",
          "count": 0, "instruments": []}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59/items
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: DELETE
      uri: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string:
          '[{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "List
          #1", "count": 7, "timeCreated": "2022-05-27T22:13:19.251101"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini", "count": 1, "timeCreated":
          "2022-05-30T06:21:48.134924"}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Test List", "count": 0, "timeCreated": "2022-07-13T04:05:52.149562"},
          {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Stef 3",
          "count": 3, "timeCreated": "2022-07-14T07:56:40.921637"}]'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/asx/instrument/v2/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
version: 1
