interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2023-10-01", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "fxSpeed": "Instant", "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlists
    response:
      body:
        string:
          '{"generated": false, "watchlists": [{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-05-12", "count": 17, "timeCreated": "2026-05-12T12:46:15.919905"},
          {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-13",
          "count": 17, "timeCreated": "2026-05-13T11:32:38.08642"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-17", "count":
          13, "timeCreated": "2026-05-17T08:12:09.349327"}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-05-20", "count": 12, "timeCreated": "2026-05-20T11:07:35.458586"},
          {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-21",
          "count": 10, "timeCreated": "2026-05-21T06:42:08.526234"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-28", "count":
          17, "timeCreated": "2026-05-28T13:08:23.501706"}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-06-04", "count": 17, "timeCreated": "2026-06-04T11:30:01.564825"},
          {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-06-05",
          "count": 15, "timeCreated": "2026-06-05T12:18:25.286463"}]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body:
        name: test_watchlist__ASXUrl
        tickers: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist
    response:
      body:
        string:
          '{"newWatchlistId": "42387285-8599-4295-b4bb-0878e5e6a962", "watchlists":
          [{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-12",
          "count": 17, "timeCreated": "2026-05-12T12:46:15.919905"}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-13", "count":
          17, "timeCreated": "2026-05-13T11:32:38.08642"}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-05-17", "count": 13, [...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist/42387285-8599-4295-b4bb-0878e5e6a962
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__ASXUrl",
          "count": 0, "instruments": []}'
      headers: {}
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        tickers:
          - COL
          - WDS
          - BHP
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api2.prd.hellostake.com/api/asx/instrument/v2/watchlist/42387285-8599-4295-b4bb-0878e5e6a962/items
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__ASXUrl",
          "count": 3, "instruments": [{"instrumentId": "BHP.XAU", "name": "BHP Group",
          "symbol": "BHP", "recentAnnouncement": true, "sensitive": false, "stakeInstrumentId":
          "3ae2466b-17e8-41f0-a173-a58af26c4f8d"}, {"instrumentId": "WDS.XAU", "name":
          "Woodside Energy Group", "symbol": "WDS", "recentAnnouncement": false, "sensitive":
          false, "stakeInstrumentId": "cb8980b9-ad6b-4ab0-b59a-d7701878709a"}, {"instrumentId":
          "COL.XAU", "name": "Coles Group", "symbol": "COL", "recentAnnouncement": false,
          "sensitive": false, "stakeInstrumentId": "b9727249-77ab-4d6f-b779-c7538358d02c"}]}'
      headers: {}
      status:
        code: 201
        message: Created
[...]
