interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "rita19", "emailAddress": "torresbenjamin@gmail.com", "dw_AccountId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber": "w4-1267174s",
          "macAccountNumber": "H1-7641957H", "status": null, "macStatus": "BASIC_USER",
          "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Tammy", "lastName": "Alexander", "phoneNumber": "9011530005",
          "signUpPhase": 0, "ackSignedWhen": "2021-05-18", "createdDate": 1574303699770,
          "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "L7-2127933N", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "mfaenabled": false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/products/productsWatchlist/7c9bbfae-0000-47b7-0000-0e66d868c2cf
    response:
      body:
        string:
          '{"instrumentsWatchList": [{"productWatchlistID": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "product": {"id": "6fb39222-3b8d-4b80-933d-3ef7b95148b5", "instrumentTypeID":
          null, "symbol": "VMW", "description": "VMware, Inc. is an information technology
          (IT) company. The Company is engaged in development and application of virtualization
          technologies with x86 server-based computing, separating application software
          from the underlying hardware. The Company offers various products, which allow
          organizations to manage IT resources across private clouds and multi-cloud,
          multi-device environments by leveraging synergies across three product categories:
          Software-Defined Data Center (SDDC), Hybrid Cloud Computing and End-User Computing
          (EUC). The SDDC is designed to transform and modernize the data center into
          an on-demand service that addresses application requirements by abstracting,
          pooling and automating the services that are required from the underlying
          hardware. The Company provides many storage and availability products to offer
          data storage and protection options to all applications running on the vSphere
          platform. Its wholly owned subsidiary include Pivotal Software Inc.", "category":
          "Stock", "currencyID": "USD", "urlImage": "https://d3an3cesqmrf1x.cloudfront.net/images/symbols/vmw.png",
          "sector": "Technology", "name": "VMware, Inc.", "dailyReturn": -0.36, "dailyReturnPercentage":
          -0.29, "lastTraded": 124.35, "monthlyReturn": 0.0, "yearlyReturnPercentage":
          31.23, "yearlyReturnValue": 34.18, "popularity": 1500.0, "watched": 868, "news":
          0, "bought": 826, "viewed": 2300, "productType": "Instrument", "exchange":
          null, "status": "ACTIVE", "type": "EQUITY", "encodedName": "vmware-inc-vmw",
          "period": "YEAR RETURN", "inceptionDate": 1187136000000, "instrumentTags":
          ["Cloud Computing", "Applications", "Technology", "Software", "Data Storage"],
          "childInstruments": []}, "watchedDate": "2019-11-21 20:04:09.76"}, {"productWatchlistID":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "product": {"id": "6fb39222-3b8d-4b80-933d-3ef7b95148b5",
          "instrumentTypeID": null, "symbol": "TWLO", "description": "Twilio Inc. offers
          Cloud Communications Platform, which enables developers to build, scale and
          operate real-time communications within software applications. The Company''s
          platform consists of Programmable Communications Cloud, Super Networ[...]
