interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "michael29", "emailAddress": "reevesmegan@gilmore-wright.biz",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "z0-0593879b", "macAccountNumber": "d9-0481457G", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Rita", "middleName": null, "lastName": "Jones", "phoneNumber":
          "(640)242-4270x965", "signUpPhase": 0, "ackSignedWhen": "2023-10-01", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "W2-6612029X", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "fxSpeed": "Instant", "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.prd.hellostake.com/us/instrument/watchlists
    response:
      body:
        string:
          '{"generated": false, "watchlists": [{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-05-13", "timeCreated": "2026-05-13T11:20:18.267203Z",
          "count": 27}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name":
          "Minervini-2026-05-17", "timeCreated": "2026-05-17T08:01:41.949459Z", "count":
          25}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-20",
          "timeCreated": "2026-05-20T10:58:08.436695Z", "count": 24}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-21", "timeCreated":
          "2026-05-21T11:59:19.855608Z", "count": 28}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-05-22", "timeCreated": "2026-05-22T00:21:59.276386Z",
          "count": 27}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name":
          "Minervini-2026-05-28", "timeCreated": "2026-05-28T12:40:15.972138Z", "count":
          27}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-06-02",
          "timeCreated": "2026-06-02T02:57:33.679717Z", "count": 27}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-06-04", "timeCreated":
          "2026-06-04T11:19:59.649717Z", "count": 28}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-06-05", "timeCreated": "2026-06-05T12:08:00.22455Z",
          "count": 28}]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body:
        name: test_watchlist__NYSEUrl
        tickers: null
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.prd.hellostake.com/us/instrument/watchlist
    response:
      body:
        string:
          '{"newWatchlistId": "0b6ab133-e09e-4748-bda5-dc0185b397d0", "watchlists":
          [{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-13",
          "timeCreated": "2026-05-13T11:20:18.267203Z", "count": 27}, {"watchlistId":
          "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "Minervini-2026-05-17", "timeCreated":
          "2026-05-17T08:01:41.949459Z", "count": 25}, {"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59",
          "name": "Minervini-2026-05-20", "timeCreat[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.prd.hellostake.com/us/instrument/watchlist/0b6ab133-e09e-4748-bda5-dc0185b397d0
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__NYSEUrl",
          "count": 0, "instruments": []}'
      headers: {}
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        tickers:
          - TSLA
          - GOOG
          - MSFT
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.prd.hellostake.com/us/instrument/watchlist/0b6ab133-e09e-4748-bda5-dc0185b397d0/items
    response:
      body:
        string:
          '{"watchlistId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "name": "test_watchlist__NYSEUrl",
          "count": 3, "instruments": [{"instrumentId": "68277cc0-6106-4f3c-849b-1298ba964aba",
          "stakeInstrumentId": "9606cf50-41fe-42ea-b489-6da1768bc26e", "name": "Alphabet",
          "symbol": "GOOG"}, {"instrumentId": "5b85fabb-d57c-44e6-a7f6-a3efc760226c",
          "stakeInstrumentId": "b4889388-1f73-46e5-a865-a68e5fd61ca5", "name": "Tesla",
          "symbol": "TSLA"}, {"instrumentId": "e234cc98-cd08-4b04-a388-fe5c822beea6",
          "stakeInstrumentId": "e3769c0b-456d-49dd-bec5-7a750c146d11", "name": "Microsoft",
          "symbol": "MSFT"}]}'
      headers: {}
      status:
        code: 200
        message: OK
[...]
