interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api2.prd.hellostake.com/api/user
    response:
      body:
        string: '{"canTradeOnUnsettledFunds":false,"cpfValue":null,"emailVerified":true,"hasFunded":true,"hasTraded":true,"userId":"7c9bbfae-0000-47b7-0000-0e66d868c2cf","username":"annaduran","emailAddress":"steven91@williams-holloway.com","dw_AccountId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","dw_AccountNumber":"Z5-3001375g","macAccountNumber":"Z5-3001375g","status":null,"macStatus":"BASIC_USER","dwStatus":null,"truliooStatus":"APPROVED","truliooStatusWithWatchlist":null,"firstName":"Kevin","middleName":null,"lastName":"Horn","phoneNumber":"518-247-0640","signUpPhase":0,"ackSignedWhen":"2020-02-19","createdDate":1574303699770,"stakeApprovedDate":null,"accountType":"INDIVIDUAL","masterAccountId":null,"referralCode":"Z5-3001375g","referredByCode":null,"regionIdentifier":"AUS","assetSummary":null,"fundingStatistics":null,"tradingStatistics":null,"w8File":[],"rewardJourneyTimestamp":null,"rewardJourneyStatus":null,"userProfile":{"residentialAddress":null,"postalAddress":null},"ledgerBalance":0.0,"fxSpeed":"Instant","dateOfBirth":null,"upToDateDetails2021":"NO_REQUIREMENTS","stakeKycStatus":"KYC_APPROVED","awxMigrationDocsRequired":null,"documentsStatus":"NO_ACTION","accountStatus":"OPEN","mfaenabled":false}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.prd.hellostake.com/us/instrument/watchlists
    response:
      body:
        string: '{"generated":false,"watchlists":[{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-13","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-17","timeCreated":"2020-01-01T00:00:00.000Z","count":25},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-20","timeCreated":"2020-01-01T00:00:00.000Z","count":24},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-21","timeCreated":"2020-01-01T00:00:00.000Z","count":28},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-22","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-28","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-02","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-04","timeCreated":"2020-01-01T00:00:00.000Z","count":28},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-05","timeCreated":"2020-01-01T00:00:00.000Z","count":28}]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body:
        name: test_watchlist__NYSEUrl
        tickers:
          - TSLA
          - GOOG
          - MSFT
          - NOK
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.prd.hellostake.com/us/instrument/watchlist
    response:
      body:
        string: '{"newWatchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","watchlists":[{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-13","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-17","timeCreated":"2020-01-01T00:00:00.000Z","count":25},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-20","timeCreated":"2020-01-01T00:00:00.000Z","count":24},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-21","timeCreated":"2020-01-01T00:00:00.000Z","count":28},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-22","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-05-28","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-02","timeCreated":"2020-01-01T00:00:00.000Z","count":27},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-04","timeCreated":"2020-01-01T00:00:00.000Z","count":28},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Minervini-2026-06-05","timeCreated":"2020-01-01T00:00:00.000Z","count":28},{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"test_watchlist__NYSEUrl","timeCreated":"2020-01-01T00:00:00.000Z","count":0}]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.prd.hellostake.com/us/instrument/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59
    response:
      body:
        string: '{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"test_watchlist__NYSEUrl","count":0,"instruments":[]}'
      headers: {}
      status:
        code: 200
        message: OK
  - request:
      body:
        tickers:
          - TSLA
          - GOOG
          - MSFT
          - NOK
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.prd.hellostake.com/us/instrument/watchlist/1cf93550-8eb4-4c32-a229-826cf8c1be59/items
    response:
      body:
        string:
          '{"watchlistId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"test_watchlist__NYSEUrl","count":4,"instruments":[{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Alphabet","symbol":"GOOG"},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Nokia
          Oyj","symbol":"NOK"},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Tesla","symbol":"TSLA"},{"instrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","stakeInstrumentId":"1cf93550-8eb4-4c32-a229-826cf8c1be59","name":"Microsoft","symbol":"MSFT"}]}'
      headers: {}
      status:
        code: 200
        message: OK
[...]
