interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/user
    response:
      body:
        string:
          '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
          true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
          "username": "leonardzachary", "emailAddress": "ellen70@bates-williams.com",
          "dw_AccountId": "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber":
          "R6-1813041A", "macAccountNumber": "K4-3517949y", "status": null, "macStatus":
          "BASIC_USER", "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
          null, "firstName": "Tammy", "middleName": null, "lastName": "Alexander", "phoneNumber":
          "9011530005", "signUpPhase": 0, "ackSignedWhen": "2022-01-22", "createdDate":
          1574303699770, "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
          null, "referralCode": "A1-2107594j", "referredByCode": null, "regionIdentifier":
          "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
          null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
          null, "userProfile": {"residentialAddress": null, "postalAddress": null},
          "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
          "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
          "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
          null, "documentsStatus": "NO_ACTION", "accountStatus": "OPEN", "mfaenabled":
          false}'
      headers: {}
      status:
        code: 200
        message: OK
      url: https://global-prd-api.hellostake.com/api/user
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://global-prd-api.hellostake.com/api/products/getProductSuggestions/techno
    response:
      body:
        string:
          '{"instruments": [{"name": "SKYWATER TECHNOLOGY INC", "symbol": "SKYT",
          "encodedName": "skywater-technology-inc-skyt", "instrumentId": "01fdcf5b-6c6d-4928-a875-b4f9212ace3d",
          "imageUrl": "https://drivewealth.imgix.net/symbols/dw_default_logo.png?fit=fillmax&w=125&h=125&bg=FFFFFF",
          "exchange": null}, {"name": "WARRIOR TECHNOLOGIES ACQ-A", "symbol": "WARR",
          "encodedName": "warrior-technologies-acqa-warr", "instrumentId": "03cb7f33-27fb-4ae7-a3f3-ed23be742aa3",
          "imageUrl": "https://drivewealth.imgix.net/symbols/WARR.png?fit=fillmax&w=125&h=125&bg=FFFFFF",
          "exchange": null}, {"name": "BlackRock Science & Technology Trust II", "symbol":
          "BSTZ", "encodedName": "blackrock-science-technology-trust-ii-bstz", "instrumentId":
          "04028ea9-6e66-439[...]
