interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/user
  response:
    body:
      string: '{"canTradeOnUnsettledFunds": false, "cpfValue": null, "emailVerified":
        true, "hasFunded": true, "hasTraded": true, "userId": "7c9bbfae-0000-47b7-0000-0e66d868c2cf",
        "username": "rita19", "emailAddress": "torresbenjamin@gmail.com", "dw_AccountId":
        "1cf93550-8eb4-4c32-a229-826cf8c1be59", "dw_AccountNumber": "w4-1267174s",
        "macAccountNumber": "H1-7641957H", "status": null, "macStatus": "BASIC_USER",
        "dwStatus": null, "truliooStatus": "APPROVED", "truliooStatusWithWatchlist":
        null, "firstName": "Tammy", "lastName": "Alexander", "phoneNumber": "9011530005",
        "signUpPhase": 0, "ackSignedWhen": "2021-05-18", "createdDate": 1574303699770,
        "stakeApprovedDate": null, "accountType": "INDIVIDUAL", "masterAccountId":
        null, "referralCode": "L7-2127933N", "referredByCode": null, "regionIdentifier":
        "AUS", "assetSummary": null, "fundingStatistics": null, "tradingStatistics":
        null, "w8File": [], "rewardJourneyTimestamp": null, "rewardJourneyStatus":
        null, "userProfile": {"residentialAddress": null, "postalAddress": null},
        "ledgerBalance": 0.0, "investorAccreditations": null, "proscoreStatus": null,
        "fxSpeed": "Regular", "facilitaStatus": null, "dateOfBirth": null, "upToDateDetails2021":
        "NO_REQUIREMENTS", "stakeKycStatus": "KYC_APPROVED", "awxMigrationDocsRequired":
        null, "documentsStatus": "NO_ACTION", "mfaenabled": false}'
    headers:
      Content-Type:
      - application/json
      stake_tid:
      - c32cbc07-1464-46d9-9d9b-aacef7f1de4c
      x-amz-apigw-id:
      - MPcxGH7SywMFePg=
      x-amzn-Remapped-Content-Length:
      - '1187'
      x-amzn-Remapped-Date:
      - Thu, 20 Jan 2022 11:04:00 GMT
      x-amzn-Remapped-Server:
      - Jetty(9.4.44.v20210927)
      x-amzn-RequestId:
      - 55a1f9f6-22ac-49fe-bb2f-d332b5908cfe
    status:
      code: 200
      message: OK
    url: https://global-prd-api.hellostake.com/api/user
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://global-prd-api.hellostake.com/api/users/accounts/v2/equityPositions
  response:
    body:
      string: '{"equityPositions": [{"unrealizedDayPLPercent": "-0.26", "symbol":
        "COP", "encodedName": "conocophillips-cop", "unrealizedDayPL": "-1.37", "instrumentID":
        "6b4f77d9-5617-4885-8377-ebc211d32bf7", "openQty": "5.94106463", "priorClose":
        "87.51", "avgPrice": "84.16", "side": "B", "costBasis": "5E+2", "mktPrice":
        "87.28", "marketValue": "518.54", "unrealizedPL": "18.54", "availableForTradingQty":
        "5.94106463", "name": "ConocoPhillips", "category": "Stock", "urlImage": "https://d3an3cesqmrf1x.cloudfront.net/images/symbols/cop.png",
        "bidPrice": null, "askPrice": null, "returnOnStock": null, "lastTrade": 87.28,
        "dailyReturnValue": -0.23, "yearlyReturnValue": 26.11, "yearlyReturnPercentage":
        79.93, "period": "YEAR RETURN", "exchange": null}, {"unrealizedDayPLPercent":
        "-3.48", "symbol": "TQQQ", "encodedName": "proshares-ultrapro-qqq-etf-tqqq",
        "unrealizedDayPL": "-228.98", "instrumentID": "63698af7-e71e-4424-9ce7-d34b70fbe260",
        "openQty": "98.69975468", "priorClose": "66.69", "avgPrice": "81.05", "side":
        "B", "costBasis": "7999.62", "mktPrice": "64.37", "marketValue": "6353.3",
        "unrealizedPL": "-1646.32", "availableForTradingQty": "98.69975468", "name":
        "ProShares UltraPro QQQ [...]
