name: CI

on:
  pull_request:
  push:
    branches: [master]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]
        poetry-version: [1.0.10]
        os: [ubuntu-18.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Run Tests
        env: # Or as an environment variable
          STAKE_TOKEN: ${{ secrets.STAKE_TOKEN }}
        run: poetry install && poetry run pytest --cov=stake --cov-report=xml && poetry run coverage-badge -f -o coverage.svg
      - name: Upload coverage
        uses: actions/upload-artifact@v2
        if: ${{ matrix.os == 'ubuntu-18.04' }}
        with:
          name: coverage
          path: coverage.svg
      - name: Auto commit coverage badge
        uses: EndBug/add-and-commit@v4.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml
